<% disks = @machineinfo["disk_list"] %>
 <!--<%= disks %>-->

<div class="table-responsive">
  <div class="table-responsive">
    <div class="dataTables_wrapper" role="grid">

      <table class="table table-striped table-bordered bootstrap-datatable datatable table-hover" id="listlogs">
        <thead>
            <tr>
              <th>名称</th>
              <th>读事务</th>
              <th>写事务</th>
              <th>读字节总数</th>
              <th>写字节总数</th>
              <th>读时长</th>
              <th>写时长</th>
              <th>qtime</th>
              <th>time</th>
              <th>snaptime</th>
              <th>service_time</th>
              <th>queue</th>
            </tr>
        </thead>
        <tbody>
            <% disks.each do |disk| %>
                <tr>
                  <td><%= disk["device"] %></td>
                  <td><%= disk["reads"] %></td>
                  <td><%= disk["writes"] %></td>
                  <td><%= disk["read_bytes"] %></td>
                  <td><%= disk["write_bytes"] %></td>
                  <td><%= disk["rtime"] %></td>
                  <td><%= disk["wtime"] %></td>
                  <td><%= disk["qtime"] %></td>
                  <td><%= disk["time"] %></td>
                  <td><%= disk["snaptime"] %></td>
                  <td><%= disk["service_time"] %></td>
                  <td><%= disk["queue"] %></td>
                </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <!--/span-->

</div>