<<<<<<< HEAD
<script>
    $('#nav_menu_admin_monit').addClass('active')
</script>

<style type="text/css">

    .g_a{display:-moz-inline-stack; display:inline-block; border-bottom:1px solid #2F96B4; border-top:1px solid #2F96B4; background:#2F96B4; text-decoration:none;}
    .g_b{float:left; border-left:1px solid #8190ac; border-right:1px solid #2F96B4; padding:1px 0; margin:0 -1px; position:relative;}
    .g_c{float:left; border-left:1px solid #8190ac; border-right:1px solid #2F96B4; margin:0 -2px; background:#2F96B4; position:relative;}
    .g_d{display:block; line-height:4px; background:#2F96B4; border-bottom:4px solid #2F96B4; border-top:8px solid #2F96B4;}
    .g_e{display:block; line-height:16px; border-bottom:4px solid #2F96B4; border-top:4px solid #2F96B4; margin-top:-16px; padding:0px 12px; font-size:12px; color:#fff; cursor:pointer;}
    .g_a:hover{text-decoration:none;}

</style>

<% mem = @machineinfo["mem"] %>

<div class="box-content">

  <div class="profile-info-row">
    <div class="profile-info-name"> ram空间</div>
    <div class="profile-info-value">
      <span><%= mem["ram"] %></span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> 总空间</div>
    <div class="profile-info-value">
      <span><%= mem["total"] %></span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> 已使用空间</div>
    <div class="profile-info-value">
      <span><%= mem["used"] %></span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> 剩余空间</div>
    <div class="profile-info-value">
      <span><%= mem["free"] %></span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> 实际使用空间</div>
    <div class="profile-info-value">
      <span><%= mem["actual_used"] %></span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> 实际剩余空间</div>
    <div class="profile-info-value">
      <span><%= mem["actual_free"] %></span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> 使用百分比</div>
    <div class="profile-info-value">
      <span><%= mem["used_percent"] %></span>
    </div>
  </div>


  <%= instances.size %>
  <%= instances %>
  <div class="tab-pane active" id="re6h">
    <div id="<%= idname %>" align="center">刷新出图</div>
    <script type="text/javascript">
        var myChart1 = new FusionCharts("<%= asset_path "FusionCharts/Line.swf"%>", "myChartId", "100%", "300", "0", "0");
        str= "<chart bgColor='ffffff' borderColor ='ffffff' caption='内存使用情况' subcaption='最近半小时' xAxisName='Min' yAxisName='cpu使用效率/%' showValues='0' alternateHGridColor='036AC2' alternateHGridAlpha='20' divLineColor='036AC2' divLineAlpha='50' canvasBorderColor='666666' baseFontColor='666666' lineColor='036AC2'>";

        <% (instances.size-1).downto(1) do |i| %>
        str+="<set label='-";
        str+=<%= i %>;
        str+="' value='";
        str+=<%= instances[i] %>;
        str+="' />";
        <% end %>
        str+="</chart>";

        myChart1.setDataXML(str);
        myChart1.render("<%= idname %>");
    </script>
  </div>
</div>
=======
<% mem = @machineinfo["mem"] %>

<div class="box-content">

  <div class="profile-info-row">
    <div class="profile-info-name"> ram空间</div>
    <div class="profile-info-value">
      <span><%= mem["ram"] %></span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> 总空间</div>
    <div class="profile-info-value">
      <span><%= mem["total"] %></span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> 已使用空间</div>
    <div class="profile-info-value">
      <span><%= mem["used"] %></span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> 剩余空间</div>
    <div class="profile-info-value">
      <span><%= mem["free"] %></span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> 实际使用空间</div>
    <div class="profile-info-value">
      <span><%= mem["actual_used"] %></span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> 实际剩余空间</div>
    <div class="profile-info-value">
      <span><%= mem["actual_free"] %></span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> 使用百分比</div>
    <div class="profile-info-value">
      <span><%= mem["used_percent"] %></span>
    </div>
  </div>

</div>
>>>>>>> e582676e82b04eeed2cf6322a8b13e3b25c94fbb
