<script>
    $('#nav_menu_admin_monit').addClass('active')
</script>
<div class="container-fluid main-container">

  <%= render(:partial => "/sidebar/admonit") %>
  <div class="main-content clearfix">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          管理员

			<span class="divider">
				<i class="icon-angle-right"></i>
			</span>
        </li>
        <li class="active">组件监控</li>
      </ul>
      <!--.breadcrumb-->
    </div>
    <div id="content" class="page-content">
      <div class="row-fluid sortable">
        <div class="box span12">
          <div class="page-header position-relative">
            <h1>
              监控管理
              <small>
                <i class="icon-double-angle-right"></i>
                <span>HealthManager组件详情</span>
              </small>
            </h1>
          </div>


          <% ip, port = ip_port @hminfo["host"] %>
          <div class="box-content">
            <div class="profile-info-row">
              <div class="profile-info-name"> 组件IP</div>

              <div class="profile-info-value">
                <span><%= ip %></span>
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name"> 组件端口</div>

              <div class="profile-info-value">
                <span><%= port %></span>
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name"> 创建时间</div>

              <div class="profile-info-value">
                <span><%= to_time(@hminfo["start"]) %></span>
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name"> 更新时间</div>

              <div class="profile-info-value">
                <span><%= to_time(@hminfo["LastUpdateTime"]) %></span>
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name"> 已使用内存空间</div>

              <div class="profile-info-value">
                <span><%= bit_to_Mb(@hminfo["varz"]["mem_used_bytes"]) %>M</span>
              </div>
            </div>


            <div class="profile-info-row">
              <div class="profile-info-name"> 剩余内存空间</div>

              <div class="profile-info-value">
                <span><%= bit_to_Mb(@hminfo["varz"]["mem_free_bytes"]) %>M</span>
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name"> CPU平均负载</div>

              <div class="profile-info-value">
                <span> <%= @hminfo["varz"]["cpu_load_avg"] %></span>
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name"> off日志数</div>
              <div class="profile-info-value">
                <span><%= @hminfo["varz"]["log_counts"]["off"] %></span>
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name"> fatal日志数</div>
              <div class="profile-info-value">
                <span><%= @hminfo["varz"]["log_counts"]["fatal"] %></span>
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name"> error日志数</div>
              <div class="profile-info-value">
                <span><%= @hminfo["varz"]["log_counts"]["error"] %></span>
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name"> warn日志数</div>
              <div class="profile-info-value">
                <span><%= @hminfo["varz"]["log_counts"]["warn"] %></span>
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name"> info日志数</div>
              <div class="profile-info-value">
                <span><%= @hminfo["varz"]["log_counts"]["info"] %></span>
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name"> debug日志数</div>
              <div class="profile-info-value">
                <span><%= @hminfo["varz"]["log_counts"]["debug"] %></span>
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name"> debug1日志数</div>
              <div class="profile-info-value">
                <span><%= @hminfo["varz"]["log_counts"]["debug1"] %></span>
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name"> debug2日志数</div>
              <div class="profile-info-value">
                <span><%= @hminfo["varz"]["log_counts"]["debug2"] %></span>
              </div>
            </div>

            <div class="profile-info-row">
              <div class="profile-info-name"> all日志数</div>
              <div class="profile-info-value">
                <span><%= @hminfo["varz"]["log_counts"]["all"] %></span>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--/row-->


    </div>
    <!--/row-->
  </div>
</div>
