<script>
  $('#nav_menu_user_applications').addClass('active')
</script>
<div class="container-fluid main-container">

  <%= render(:partial => "/sidebar/applications") %>
  <div class="main-content clearfix">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          应用托管

			<span class="divider">
				<i class="icon-angle-right"></i>
			</span>
        </li>
        <li class="active">汇总信息</li>
      </ul>
      <!--.breadcrumb-->
    </div>
    <div id="content" class="page-content">

      <div class="page-header position-relative">
        <h1>
          汇总信息
          <small>
            <i class="icon-double-angle-right"></i>
            <span>概览</span>
          </small>
        </h1>
      </div>

      <div class="row-fluid">
        <div class="grid3 center">
          <div class="infobox infobox-dark infobox-blue">
            <div class="infobox-icon">
              <i class="icon-briefcase"></i>
            </div>
            <div class="infobox-data" style="margin-top:5px">
    			<span class="infobox-content">
    				<b style="font-size:18px;">应用</b>
            </br>
            <span class="infobox-content pull-right">已建<%=@apps.length%>个</span>

    			</span>
            </div>
          </div>
        </div>
        <div class="grid3 center">
          <div class="infobox infobox-dark infobox-blue">
            <div class="infobox-icon">
              <i class="icon-tag"></i>
            </div>
            <div class="infobox-data" style="margin-top:5px">
    			<span class="infobox-content">
    				<b style="font-size:18px;">服务</b>
            </br>
            <span class="infobox-content pull-right">可建<%=@org.quota_definition.total_services%>个&nbsp;&nbsp;已建<%=@serinsts.length%>个</span>

    			</span>
            </div>
          </div>
        </div>
        <div class="grid3 center">
          <div class="infobox infobox-dark infobox-blue">
            <div class="infobox-icon">
              <i class="icon-align-right"></i>
            </div>
            <div class="infobox-data" style="margin-top:5px">
    			<span class="infobox-content">
    				<b style="font-size:18px;">空间</b>
            </br>
            <span class="infobox-content pull-right">可用<%=@account.codenum+'MB'%></span>

    			</span>
            </div>
          </div>
        </div>
      </div>
      <div class="space-20"></div>
      <div class="row-fluid">


        <div class="span6">
          <div id="applist-box" class="widget-box transparent">
            <div class="widget-header">
              <h4 class="lighter smaller">应用信息</h4>
            </div>
            <div class="widget-body">
              <div class="widget-main padding-4">
                <div class="slimScrollDiv" style="position: relative;width: auto;">
                  <div class="comments" style="width: auto">

                    <% if @apps==(nil||[]) %>

                        <div class="alert alert-block">
                          <h4 class="alert-heading">提示！</h4>

                          <p>当前厂商未创建任何应用</p>


                        </div>

                    <% else %>

                    <% @apps.each do |app| %>
                    <div class="itemdiv commentdiv">
                      <div class="user">
                        <i class="icon-briefcase bigger-230 blue"></i>
                      </div>

                      <div class="body">
                        <div class="name">
                          <a href="#"><%= app.appname %></a>
                        </div>

                        <div class="time">
                          <i class="icon-time"></i>更新时间
                          <span class="blue"><%= app.updated_at %></span>
                        </div>

                        <div class="text profile-user-info">
                          <div class="profile-info-row">
                            <div class="profile-info-name">应用版本</div>
                            <div class="profile-info-value"><%= app.version ||"暂无" %></div>
                          </div>
                          <div class="profile-info-row">
                            <div class="profile-info-name">语言框架</div>
                            <div class="profile-info-value"><%= app.appframework  %><%= "暂无" if (app.appframework==nil||app.appframework=="")%></div>
                          </div>
                          <div class="profile-info-row">
                            <div class="profile-info-name">运行状态</div>
                            <div class="profile-info-value"><%=(app.active==false)?'未启动':'已启动'%></div>
                          </div>
                        </div>
                      </div>

                      <!--<div class="tools">-->
                        <!--<a class="btn btn-minier btn-info" href="#">-->
                          <!--<i class="icon-only icon-zoom-in"></i>-->
                        <!--</a>-->

                        <!--<a class="btn btn-minier btn-danger" href="#">-->
                          <!--<i class="icon-only icon-trash"></i>-->
                        <!--</a>-->
                      <!--</div>-->
                    </div>
                    <% end %>

                    <% end %>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="span6">
          <div id="serlist-box" class="widget-box transparent">
            <div class="widget-header">
              <h4 class="lighter smaller">服务信息</h4>
            </div>
            <div class="widget-body">
              <div class="widget-main padding-4">
                <div class="slimScrollDiv" style="position: relative;width: auto;">
                  <div class="comments" style="width: auto">
                    <% if @serinsts==(nil||[]) %>

                        <div class="alert alert-block">
                          <h4 class="alert-heading">提示！</h4>

                          <p>当前厂商未包含任何服务</p>


                        </div>

                    <% else %>
                        <% @serinsts.each do |inst| %>

                    <div class="itemdiv commentdiv">
                      <div class="user">
                        <i class="icon-tag bigger-230 blue"></i>
                      </div>

                      <div class="body">
                        <div class="name">
                          <a href="#"><%= inst.name%></a>
                        </div>

                        <div class="time">
                          <i class="icon-time"></i>批准时间
                          <span class="blue"><%= inst.approvetime%></span>
                        </div>

                        <div class="text profile-user-info">
                          <div class="profile-info-row">
                            <div class="profile-info-name">服务类型</div>
                            <div class="profile-info-value"><%= inst.sertype%></div>
                          </div>
                          <div class="profile-info-row">
                            <div class="profile-info-name">服务版本</div>
                            <div class="profile-info-value"><%= inst.version||"暂无"%></div>
                          </div>
                          <% @binds=@userclient.service_bindings_by_service_instance_guid inst.serviceguid%>
                          <div class="profile-info-row">
                            <div class="profile-info-name">绑定情况</div>
                            <div class="profile-info-value">
                              <%="暂无" if @binds==[] %>
                              <% @binds.each do |bind|%>
                                  <%= bind.app.name %> &nbsp;
                              <% end %>
                            </div>
                          </div>
                          
                        </div>
                      </div>


                    </div>
                         <% end %>
                    <% end %>






                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
