<script>
  $('#nav_menu_user_applications').addClass('active')
</script>
<script src="/assets/js/onclick.js"></script>
<div class="container-fluid main-container">

  <%= render(:partial => "/sidebar/applications") %>
  <div class="main-content clearfix">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          应用托管

			<span class="divider">
				<i class="icon-angle-right"></i>
			</span>
        </li>
        <li class="active">应用管理</li>
      </ul>
      <!--.breadcrumb-->
    </div>
    <div id="content" class="page-content">

      <div class="page-header position-relative">
        <h1>
          应用管理
          <small>
            <i class="icon-double-angle-right"></i>
            <span>应用列表</span>
          </small>
        </h1>
      </div>

      <% if params[:response]=='failure' %>
        <div class="alert alert-error">
          <button class="close" data-dismiss="alert" type="button">
            <i class="icon-remove"></i>
          </button>
          <h4 class="alert-heading">注意！</h4>
          <%= "应用创建失败，请重新操作！" %>
        </div>
      <% end %>
      <% if params[:response]=='success' %>
        <div class="alert alert-success">
          <button class="close" data-dismiss="alert" type="button">
            <i class="icon-remove"></i>
          </button>
          <h4 class="alert-heading">提示！</h4>
          <%= "应用创建成功！" %>
        </div>
      <% end %>


      <div class="alert alert-block alert-info">
        <button class="close" data-dismiss="alert" type="button">
          <i class="icon-remove"></i>
        </button>
        <p><strong>提示！</strong></p>
        <p>您当前可用的代码量空间为：<%= format("%0.2f", @account.codenum.to_i) %>MB</p>
        <p>您当前已占用的代码空间为：<%= format("%0.3f", @size)%>MB</p>
      </div>

      <% if @apps==[] %>
          <div class="alert alert-block">
            <h4 class="alert-heading">提示！</h4>

            <p>请创建应用</p>


          </div>
      <% else %>

      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>应用名称</th>
          <th>厂商</th>
          <th>项目</th>
          <th>版本号</th>
          <th>运行状态</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
            <% @apps.each do |app| %>
            <tr>
              <td><%= app.appname %></td>
              <td><%=@account.organization%></td>
              <td><%=@account.space%></td>
              <td><%= app.appname||"暂无" %></td>
              <td>
                <% if app.active==false %>
                <span class="label label-grey">未启动</span>
                <% else %>
                <span class="label label-success">运行中</span>
                <% end %>
              </td>
              <td>
                <%= link_to raw("<i class='icon-zoom-in icon-white'></i><h style='color:#FFF'>查看</h>"), {:controller => "applications", :action => "unitapp", :id => app.id}, :class => "btn btn-info btn-mini" %>
                <%= link_to raw("<i class='icon-trash icon-white'></i><h style='color:#FFF'>删除</h>"), {:controller => "applications", :action => "deleteapp", :appid => app.id}, :class => "btn btn-danger btn-mini" %>
              </td>
            </tr>

            <% end %>
        </tbody>
      </table>
      <% end %>

      <div class="hr hr-18 dotted hr-double"></div>
      <h4 class="pink">
        <i class="icon-hand-right icon-animated-hand-pointer blue"></i>
        <a href="#modal-form-creapp" role="button" class="green" data-toggle="modal"> 创建新应用 </a>
      </h4>
      <div class="hr hr-18 dotted hr-double"></div>

      <div id="modal-form-creapp" class="modal hide fade" tabindex="-1">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="blue bigger">
            创建新应用
            <small>
              <i class="icon-double-angle-right"></i>
              <span>请填写下列信息</span>
            </small>
          </h4>
        </div>
        <%= form_tag url_for(:controller=>"applications",:action=>"creapplication"), :class => "form-horizontal", :style=>"margin-bottom:0px",:method => :post do %>
        <div class="modal-body overflow-visible">
          <div class="row-fluid">
            <div class="span7">

              <div class="control-group">
                <label class="control-label" for="form-field-containername">应用名称</label>
                <div class="controls">
                  <input type="text" id="appname" name="appname" placeholder="1-32个字符" onkeyup="judge(this,'appname')"/>
                  <span class="green" style="position:absolute;left: 70%;top:20px;display:none"><i class="icon-ok"></i></span>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="form-field-username">实例个数</label>
                <div class="controls">
                  <input type="text" id="appinsnum" name="appinsnum" placeholder="1-9" onkeyup="judge(this,'appinstnum')"/>
                  <span class="green" style="position:absolute;left: 70%;top:70px;display:none"><i class="icon-ok"></i></span>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="form-field-username">单实例内存上限</label>
                <div class="controls">
                  <select data-placeholder="选择实例大小" id="appsize" name="appsize">
                    <option value="128" >128MB</option>
                    <option value="256" >256MB</option>
                    <option value="512" >512MB</option>
                    <option value="1024" >1G</option>
                  </select>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-small" data-dismiss="modal">
            <i class="icon-remove"></i>
            取消
          </button>

          <button class="btn btn-small btn-primary">
            <i class="icon-ok"></i>
            确认创建
          </button>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">


  //chosen plugin inside a modal will have a zero width because the select element is originally hidden
  //and its width cannot be determined.
  //so we set the width after modal is show
  $('#modal-form-creapp').on('show', function () { })

</script>