<div id="sidebar" class="sidebar">

  <ul class="nav nav-list">

    <li class="<%= 'active' if (params[:controller]=="adservice"&&params[:action] =="dashboard") %>">
      <a href="/adservice/dashboard">
        <i class="icon-file-text"></i>
        <span class="menu-text">申请单</span>

      </a>
    </li>

    <li class="<%= 'active' if (params[:controller]=="adservice"&&(params[:action] =="manage"||params[:action] =="viewfilestorage"||params[:action] =="viewmegqunfa"||params[:action] =="viewmessage"||params[:action] =="viewmsgqunfa"||params[:action] =="viewmysql")) %>">
      <a href="/adservice/manage">
        <i class="icon-table"></i>
        <span class="menu-text">能力管理</span>

      </a>
    </li>


    <li class="<%= 'active' if (params[:controller]=="adservice"&&(params[:action] =="msgform"||params[:action] =="accform")) %>">
    <a class="dropdown-toggle">
        <i class="icon-list-alt"></i>
        <span class="menu-text">能力报表</span>
        <b class="arrow icon-angle-down"></b>
      </a>
      <ul class="submenu">
        <li class="<%= 'active' if (params[:controller]=="adservice"&&params[:action] =="msgform") %>">
<<<<<<< HEAD
          <a href="/adservice/msgform" data-no-turbolink="true">
=======
          <a href="/adservice/msgform">
>>>>>>> e582676e82b04eeed2cf6322a8b13e3b25c94fbb
            <i class="icon-double-angle-right"></i>
            短彩报表
          </a>
        </li>
        <li class="<%= 'active' if (params[:controller]=="adservice"&&params[:action] =="accform") %>">
<<<<<<< HEAD
          <a href="/adservice/accform" data-no-turbolink="true">
=======
          <a href="/adservice/accform">
>>>>>>> e582676e82b04eeed2cf6322a8b13e3b25c94fbb
            <i class="icon-double-angle-right"></i>
            接入号报表
          </a>
        </li>
      </ul>
    </li>



  </ul>
  <!--/.nav-list-->

  <div id="sidebar-collapse" class="sidebar-collapse">
    <i class="icon-double-angle-left"></i>
  </div>
</div>


