<div class="widget-header widget-header-flat">
  <h4 class="lighter">
    <i class="icon-signal"></i>
    短彩使用情况统计图 <%=year  %>
  </h4>
</div>
<div class="widget-body" style="padding-top: 15px;">
<table width='98%' align='center' cellpadding='2' cellspacing='0'>
  <tr>
    <td align="center">
      <div id="<%=idname%>" align="center">FusionGadgets</div>
      <div id="<%=idname%>getshowyear" class="<%=year %>" style="display: hidden;"></div>
      <div id="<%=idname%>getshowtype" class="<%=type %>" style="display: hidden;"></div>

      <script type="text/javascript">
          var <%=idname%>getshowyear=document.getElementById('<%=idname%>getshowyear').className ;
         // var <%=idname%>uri= 'http://10.1.1.63:9294/statistics/time/month/'+<%=idname%>getshowyear;
          var <%=idname%>duanup = [[1,100],[2,80],[3,50],[4,75],[5,30],[6,120],[7,39],[8,40],[9,20],[10,80],[11,130],[12,35],[13,80],[14,70],[15,50],[16,90],[17,150],[18,40],[19,80],[20,50],[21,20],[22,140],[23,34],[24,70],[25,90],[26,30],[27,100],[28,33],[29,20],[30,75],[31,90]];
          var <%=idname%>duandown = [[1,1000],[2,800],[3,500],[4,750],[5,300],[6,1200],[7,390],[8,400],[9,200],[10,800],[11,1300],[12,350],[13,800],[14,700],[15,500],[16,900],[17,1500],[18,400],[19,800],[20,500],[21,200],[22,1400],[23,340],[24,700],[25,900],[26,300],[27,1000],[28,303],[29,200],[30,750],[31,900]];
          var <%=idname%>duanqun = [[1,1000],[2,800],[3,500],[4,705],[5,300],[6,1020],[7,309],[8,400],[9,200],[10,800],[11,1030],[12,305],[13,800],[14,700],[15,500],[16,900],[17,1050],[18,400],[19,800],[20,500],[21,200],[22,1040],[23,304],[24,700],[25,900],[26,300],[27,1000],[28,303],[29,200],[30,705],[31,910]];
          var <%=idname%>caiup = [[1,10],[2,8],[3,5],[4,7],[5,3],[6,12],[7,9],[8,4],[9,2],[10,8],[11,13],[12,35],[13,8],[14,7],[15,5],[16,9],[17,15],[18,4],[19,8],[20,50],[21,20],[22,140],[23,34],[24,70],[25,90],[26,30],[27,100],[28,33],[29,20],[30,75],[31,90]];
          var <%=idname%>caidown = [[1,100],[2,80],[3,50],[4,75],[5,30],[6,120],[7,390],[8,40],[9,20],[10,80],[11,130],[12,35],[13,80],[14,70],[15,50],[16,90],[17,150],[18,40],[19,80],[20,50],[21,20],[22,140],[23,34],[24,70],[25,90],[26,30],[27,100],[28,33],[29,20],[30,75],[31,90]];
          var <%=idname%>caiqun = [[1,100],[2,80],[3,50],[4,75],[5,30],[6,120],[7,369],[8,40],[9,20],[10,80],[11,130],[12,35],[13,80],[14,70],[15,50],[16,90],[17,150],[18,40],[19,80],[20,50],[21,20],[22,140],[23,34],[24,70],[25,90],[26,30],[27,100],[28,33],[29,20],[30,75],[31,90]];

                  <%=idname%>len=<%=idname%>caiqun.length;
                  // alert(results);
                  var <%=idname%>str="<chart  lineThickness='1' showValues='0' formatNumberScale='0' anchorRadius='2'   divLineAlpha='20'" +
                          " divLineColor='777777' divLineIsDashed='1' showAlternateHGridColor='1' alternateHGridAlpha='5'" +
                          " alternateHGridColor='888888' shadowAlpha='40' labelStep='1' numvdivlines='5' chartRightMargin='35'" +
                          " bgColor='aaaaaa,FFFFFF' bgAngle='270' bgAlpha='10,10'><categories >";
                  for(var ynum=0;ynum<<%=idname%>len;ynum++){ a=ynum+1;<%=idname%>str= <%=idname%>str+"<category label='"+a+"' />";}
                  <%=idname%>str= <%=idname%>str+"</categories><dataset seriesName='短信上行' color='1D8BD1' anchorBorderColor='1D8BD1' anchorBgColor='1D8BD1'>";
                  for(var i=0;i<<%=idname%>len;i++) {<%=idname%>str=<%=idname%>str+"<set value='"+<%=idname%>duanup[i][1]+"' />";}
                  <%=idname%>str=<%=idname%>str+"</dataset><dataset seriesName='短信下行' color='F1683C' anchorBorderColor='F1683C' anchorBgColor='F1683C'>";
                  for(var j=0;j<<%=idname%>len;j++) {<%=idname%>str=<%=idname%>str+"<set value='"+<%=idname%>duandown[j][1]+"' />";}
                  <%=idname%>str=<%=idname%>str+"</dataset><dataset seriesName='短信群发' color='2AD62A' anchorBorderColor='2AD62A' anchorBgColor='2AD62A'>";
                  for(var k=0;k<<%=idname%>len;k++) {<%=idname%>str=<%=idname%>str+"<set value='"+<%=idname%>duanqun[k][1]+"' />";}
                  <%=idname%>str=<%=idname%>str+"</dataset><dataset seriesName='彩信上行' color='DBDC25' anchorBorderColor='DBDC25' anchorBgColor='DBDC25'>";
                  for(var m=0;m<<%=idname%>len;m++) {<%=idname%>str=<%=idname%>str+"<set value='"+<%=idname%>caiup[m][1]+"' />";}
                  <%=idname%>str=<%=idname%>str+"</dataset><dataset seriesName='彩信下行' color='DB79C1' anchorBorderColor='DB79C1' anchorBgColor='DB79C1'>";
                  for(var n=0;n<<%=idname%>len;n++) {<%=idname%>str=<%=idname%>str+"<set value='"+<%=idname%>caidown[n][1]+"' />";}
                  <%=idname%>str=<%=idname%>str+"</dataset><dataset seriesName='彩信群发' color='676767' anchorBorderColor='676767' anchorBgColor='676767'>";
                  for(var l=0;l<<%=idname%>len;l++) {<%=idname%>str=<%=idname%>str+"<set value='"+<%=idname%>caiqun[l][1]+"' />";}
                  <%=idname%>str=<%=idname%>str+"</dataset><styles><definition><style name='CaptionFont' type='font' size='12'/>" +
                          "</definition><application><apply toObject='CAPTION' styles='CaptionFont' />" +
                          "<apply toObject='SUBCAPTION' styles='CaptionFont' /></application></styles></chart>";
                  //alert(<%=idname%>str);
<<<<<<< HEAD
                  var myChart = new FusionCharts("<%= asset_path 'FusionCharts/MSLine.swf'%>", "myChartzhexianpic", "100%", "350", "0", "0");
=======
                  var myChart = new FusionCharts("<%= asset_path 'FusionCharts/MSLine.swf'%>", "myChartId", "100%", "350", "0", "0");
>>>>>>> e582676e82b04eeed2cf6322a8b13e3b25c94fbb
                  //myChart.setDataXML("<chart caption='短彩使用情况统计图' subcaption='2013' lineThickness='1' showValues='0' formatNumberScale='0' anchorRadius='2'   divLineAlpha='20' divLineColor='0077cc' divLineIsDashed='1' showAlternateHGridColor='1' alternateHGridAlpha='5' alternateHGridColor='0077cc' shadowAlpha='40' labelStep='1' numvdivlines='5' chartRightMargin='35' bgColor='FFFFFF' bgAngle='270' bgAlpha='10,10'><categories ><category label='1月' /><category label='2月' /><category label='3月' /><category label='4月' /><category label='5月' /><category label='6月' /><category label='7月' /></categories><dataset seriesName='短信上行' color='1D8BD1' anchorBorderColor='1D8BD1' anchorBgColor='1D8BD1'><set value='1327' /><set value='1826' /><set value='1699' /><set value='1511' /><set value='1904' /><set value='1957' /><set value='1296' /></dataset><dataset seriesName='短信下行' color='F1683C' anchorBorderColor='F1683C' anchorBgColor='F1683C'><set value='2042' /><set value='3210' /><set value='2994' /><set value='3115' /><set value='2844' /><set value='3576' /><set value='1862' /></dataset><dataset seriesName='短信群发' color='2AD62A' anchorBorderColor='2AD62A' anchorBgColor='2AD62A'><set value='850' /><set value='1010' /><set value='1116' /><set value='1234' /><set value='1210' /><set value='1054' /><set value='802' /></dataset><dataset seriesName='彩信上行' color='DBDC25' anchorBorderColor='DBDC25' anchorBgColor='DBDC25'><set value='541' /><set value='781' /><set value='920' /><set value='754' /><set value='840' /><set value='893' /><set value='451' /></dataset><dataset seriesName='彩信下行' color='DB79C1' anchorBorderColor='DB79C1' anchorBgColor='DB79C1'><set value='204' /><set value='321' /><set value='299' /><set value='311' /><set value='284' /><set value='357' /><set value='186' /></dataset><dataset seriesName='彩信群发' color='676767' anchorBorderColor='676767' anchorBgColor='676767'><set value='50' /><set value='110' /><set value='116' /><set value='234' /><set value='120' /><set value='154' /><set value='82' /></dataset><styles><definition><style name='CaptionFont' type='font' size='12'/></definition><application><apply toObject='CAPTION' styles='CaptionFont' /><apply toObject='SUBCAPTION' styles='CaptionFont' /></application></styles></chart>");
                  myChart.setDataXML(<%=idname%>str);
                  myChart.render("<%=idname%>");

      </script>
    </td>
  </tr>
  <tr height='10'>
    <td></td>
  </tr>
  <tr>

  </tr>
</table>
</div>