<style type="text/css">
    /* Override some defaults */
  html, body {
    background-color: #eee;
  }

  .container {
    padding-top: 40px;
  }

  .container {
    width: 300px;
  }

    /* The white background content wrapper */
  .container > .row {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  }

  legend {
    margin-right: -50px;
    font-weight: bold;
    color: #404040;
  }

  .login-form .btn {
    margin-top: 15px;
    width: 100%;
  }


</style>
<div class="container">
  <div class="container">
    <div class="row">
      <div class="login-form">

        <% if @error=="wrong" %>
          <div class="alert alert-error">
            <button data-dismiss="alert" class="close" type="button">
              <i class="icon-remove"></i>
            </button>

            <strong>
              <i class="icon-remove"></i>
              <%= t :log_error %>
            </strong>
            <%= t :log_error_re %>
            <br>
          </div>
        <% end %>
        <div class="alert alert-info"><%= t :log_tip %> </div>
        <%= form_tag url_for(:controller => 'login', :action => 'index'), :class => "center", :method => :post do %>
          <fieldset>


            <div data-rel="tooltip" data-original-title="<%= t :log_email %>" class="clearfix" style="position:relative">
              <span>
              <%= text_field_tag 'email', nil, :placeholder=>t(:log_email) %>
                <span class="green" style="position:absolute;left: 80%;top:7px;display:none"><i class="icon-ok"></i></span>
              </span>
            </div>
            <div data-rel="tooltip" data-original-title="<%= t :log_pwd %>" class="clearfix" style="position:relative">
              <span>
              <%= text_field_tag 'password', nil, :type => "password",:placeholder=>t(:log_pwd) %>
                <span class="green" style="position:absolute;left: 80%;top:7px;display:none"><i class="icon-ok"></i></span>
              </span>
            </div>
            <button id="submit" type="submit" class="btn btn-small primary"><%= t :login %></button>

            <!--     <p class="center span5">
              <a href="/cfusers/new">注册新用户</a>
            </p>-->
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>

