<script>
  $('#nav_menu_user_service').addClass('active')
</script>
<div class="container-fluid main-container">

  <%= render(:partial => "/sidebar/service") %>
  <div class="main-content clearfix">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="icon-home"></i>
          能力开发

			<span class="divider">
				<i class="icon-angle-right"></i>
			</span>
        </li>
        <li class="active">软件超市</li>
      </ul>
      <!--.breadcrumb-->
    </div>
    <div id="content" class="page-content">
      <div class="page-header position-relative">
        <h1>
          能力超市
          <small>
            <i class="icon-double-angle-right"></i>
            <span>基础服务</span>
          </small>
        </h1>
      </div>
    	  <div class="row-fluid">

          <div class="widget-box span6">
            <div class="widget-header widget-header-flat widget-header-small">
              <h5>MySQL</h5>
              <div class="widget-toolbar no-border">
                <%= link_to raw("&nbsp;&nbsp;申请&nbsp;&nbsp; "), {:controller => "service", :action => "apmysql"},:class=>"btn btn-minier btn-primary",:style=>"font-size:12px" %>
              </div>
            </div>
            <div class="widget-body">
              <div class="widget-main padding-4">
                <div class="slimScrollDiv">
                  <div class="comments">
                    <div class="itemdiv commentdiv">
                      <div style="margin:10px">
                        <img alt="Icon service mysql" src="/assets/icon_service_mysql.png"/>
                      </div>
                      <div class="body">
                        <div class="text profile-user-info">
                          <div class="profile-info-row">
                            <div class="profile-info-name">服务版本</div>
                            <div class="profile-info-value">5.5</div>
                          </div>
                          <div class="profile-info-row">
                            <div class="profile-info-name">服务简介</div>
                            <div class="profile-info-value">MySQL是一个关系型数据库管理系统,MySQL被广泛地应用在Internet上的中小型网站中。特点是体积小、速度快、总体拥有成本低。</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="widget-box span6">
            <div class="widget-header widget-header-flat widget-header-small">
              <h5>Oracle</h5>
              <div class="widget-toolbar no-border">
                <%= link_to raw("&nbsp;&nbsp;正在开发&nbsp;&nbsp; "), {:controller => "service", :action => "apmysql"},:class=>"btn btn-minier btn-primary",:style=>"font-size:12px",:disabled=>"true" %>
              </div>
            </div>
            <div class="widget-body">
              <div class="widget-main padding-4">
                <div class="slimScrollDiv">
                  <div class="comments">
                    <div class="itemdiv commentdiv">
                      <div style="margin:10px">
                        <img alt="Icon service mysql" src="/assets/icon_service_oracle.png"/>
                      </div>
                      <div class="body">
                        <div class="text profile-user-info">
                          <div class="profile-info-row">
                            <div class="profile-info-name">服务版本</div>
                            <div class="profile-info-value">5.0</div>
                          </div>
                          <div class="profile-info-row">
                            <div class="profile-info-name">服务简介</div>
                            <div class="profile-info-value">ORACLE数据库系统是以分布式数据库为核心的一组软件产品，是目前最流行的客户/服务器(CLIENT/SERVER)或B/S体系结构的数据库之一。</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="widget-box span6">
            <div class="widget-header widget-header-flat widget-header-small">
              <h5>文件存储</h5>
              <div class="widget-toolbar no-border">
                <%= link_to raw("&nbsp;&nbsp;正在开发&nbsp;&nbsp; "), {:controller => "service", :action => "apfilestorage"},:class=>"btn btn-minier btn-primary",:style=>"font-size:12px",:disabled=>"true" %>
              </div>
            </div>
            <div class="widget-body">
              <div class="widget-main padding-4">
                <div class="slimScrollDiv">
                  <div class="comments">
                    <div class="itemdiv commentdiv">
                      <div style="margin:10px">
                        <img alt="Icon service mysql" src="/assets/icon_service_filestorage.png"/>
                      </div>
                      <div class="body">
                        <div class="text profile-user-info">
                          <div class="profile-info-row">
                            <div class="profile-info-name">服务版本</div>
                            <div class="profile-info-value">1.0</div>
                          </div>
                          <div class="profile-info-row">
                            <div class="profile-info-name">服务简介</div>
                            <div class="profile-info-value">可把您的文件存储在云端，方便快捷安全。可把您的文件存储在云端，方便快捷安全。可把您的文件存储在云端，方便快捷安全。</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="page-content">
      <div class="page-header position-relative">
        <h1>
          能力超市
          <small>
            <i class="icon-double-angle-right"></i>
            <span>电信服务</span>
          </small>
        </h1>
      </div>
    	 <div class="row-fluid">

         <div class="widget-box span6">
           <div class="widget-header widget-header-flat widget-header-small">
             <h5>短彩</h5>
             <div class="widget-toolbar no-border">
               <%= link_to raw("&nbsp;&nbsp;正在开发&nbsp;&nbsp; "), {:controller => "service", :action => "apmessage"},:class=>"btn btn-minier btn-primary",:style=>"font-size:12px",:disabled=>"true" %>
             </div>
           </div>
           <div class="widget-body">
             <div class="widget-main padding-4">
               <div class="slimScrollDiv">
                 <div class="comments">
                   <div class="itemdiv commentdiv">
                     <div style="margin:10px">
                       <img alt="Icon service mysql" src="/assets/icon_service_sms.png"/>
                     </div>
                     <div class="body">
                       <div class="text profile-user-info">
                         <div class="profile-info-row">
                           <div class="profile-info-name">服务版本</div>
                           <div class="profile-info-value">1.0</div>
                         </div>
                         <div class="profile-info-row">
                           <div class="profile-info-name">服务简介</div>
                           <div class="profile-info-value">提供短信和彩信的群发与单发，高效地进行短彩管理。提供短信和彩信的群发与单发，高效地进行短彩管理。提供短信和彩信的群发与单发。</div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <div class="widget-box span6">
           <div class="widget-header widget-header-flat widget-header-small">
             <h5>ctd拨号</h5>
             <div class="widget-toolbar no-border">
               <%= link_to raw("&nbsp;&nbsp;正在开发&nbsp;&nbsp; "), {:controller => "service", :action => "apmessage"},:class=>"btn btn-minier btn-primary",:style=>"font-size:12px",:disabled=>"true" %>
             </div>
           </div>
           <div class="widget-body">
             <div class="widget-main padding-4">
               <div class="slimScrollDiv">
                 <div class="comments">
                   <div class="itemdiv commentdiv">
                     <div style="margin:10px">
                       <img alt="Icon service mysql" src="/assets/icon_service_ctd.png"/>
                     </div>
                     <div class="body">
                       <div class="text profile-user-info">
                         <div class="profile-info-row">
                           <div class="profile-info-name">服务版本</div>
                           <div class="profile-info-value">1.0</div>
                         </div>
                         <div class="profile-info-row">
                           <div class="profile-info-name">服务简介</div>
                           <div class="profile-info-value">ORACLE数据库系统是以分布式数据库为核心的一组软件产品，是目前最流行的客户/服务器(CLIENT/SERVER)或B/S体系结构的数据库之一。</div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>


        </div>
        <div class="row-fluid">
          <div class="widget-box span6">
            <div class="widget-header widget-header-flat widget-header-small">
              <h5>boss/misc ftp</h5>
              <div class="widget-toolbar no-border">
                <%= link_to raw("&nbsp;&nbsp;正在开发&nbsp;&nbsp; "), {:controller => "service", :action => "apmessage"},:class=>"btn btn-minier btn-primary",:style=>"font-size:12px",:disabled=>"true" %>
              </div>
            </div>
            <div class="widget-body">
              <div class="widget-main padding-4">
                <div class="slimScrollDiv">
                  <div class="comments">
                    <div class="itemdiv commentdiv">
                      <div style="margin:10px">
                        <img alt="Icon service mysql" src="/assets/icon_service_boss.png"/>
                      </div>
                      <div class="body">
                        <div class="text profile-user-info">
                          <div class="profile-info-row">
                            <div class="profile-info-name">服务版本</div>
                            <div class="profile-info-value">1.0</div>
                          </div>
                          <div class="profile-info-row">
                            <div class="profile-info-name">服务简介</div>
                            <div class="profile-info-value">ORACLE数据库系统是以分布式数据库为核心的一组软件产品，是目前最流行的客户/服务器(CLIENT/SERVER)或B/S体系结构的数据库之一。</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="page-content">
      <div class="page-header position-relative">
        <h1>
          能力超市
          <small>
            <i class="icon-double-angle-right"></i>
            <span>互联网服务</span>
          </small>
        </h1>
      </div>
    	 <div class="row-fluid">

         <div class="widget-box span6">
           <div class="widget-header widget-header-flat widget-header-small">
             <h5>Webmoon</h5>
             <div class="widget-toolbar no-border">
               <%= link_to raw("&nbsp;&nbsp;正在开发&nbsp;&nbsp; "), {:controller => "service", :action => "apmessage"},:class=>"btn btn-minier btn-primary",:style=>"font-size:12px",:disabled=>"true" %>
             </div>
           </div>
           <div class="widget-body">
             <div class="widget-main padding-4">
               <div class="slimScrollDiv">
                 <div class="comments">
                   <div class="itemdiv commentdiv">
                     <div style="margin:10px">
                       <img alt="Icon service mysql" src="/assets/icon_service_webmoon.png"/>
                     </div>
                     <div class="body">
                       <div class="text profile-user-info">
                         <div class="profile-info-row">
                           <div class="profile-info-name">服务版本</div>
                           <div class="profile-info-value">1.0</div>
                         </div>
                         <div class="profile-info-row">
                           <div class="profile-info-name">服务简介</div>
                           <div class="profile-info-value">Webmoon提供abcdefg的服务，特点是Webmoon提供abcdefg的服务，特点是Webmoon提供abcdefg的服务，特点是Webmoon提供abcdefg的。</div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>



         <div class="widget-box span6">
           <div class="widget-header widget-header-flat widget-header-small">
             <h5>图片</h5>
             <div class="widget-toolbar no-border">
               <%= link_to raw("&nbsp;&nbsp;正在开发&nbsp;&nbsp; "), {:controller => "service", :action => "apmessage"},:class=>"btn btn-minier btn-primary",:style=>"font-size:12px",:disabled=>"true" %>
             </div>
           </div>
           <div class="widget-body">
             <div class="widget-main padding-4">
               <div class="slimScrollDiv">
                 <div class="comments">
                   <div class="itemdiv commentdiv">
                     <div style="margin:10px">
                       <img alt="Icon service mysql" src="/assets/icon_service_pic.png"/>
                     </div>
                     <div class="body">
                       <div class="text profile-user-info">
                         <div class="profile-info-row">
                           <div class="profile-info-name">服务版本</div>
                           <div class="profile-info-value">1.0</div>
                         </div>
                         <div class="profile-info-row">
                           <div class="profile-info-name">服务简介</div>
                           <div class="profile-info-value">图片服务支持本地图片上传和下载，简单高效管理您的图片。图片服务支持本地图片上传和下载，简单高效管理您的图片。</div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>

        </div>
        <div class="row-fluid">
          <div class="widget-box span6">
            <div class="widget-header widget-header-flat widget-header-small">
              <h5>邮件</h5>
              <div class="widget-toolbar no-border">
                <%= link_to raw("&nbsp;&nbsp;正在开发&nbsp;&nbsp; "), {:controller => "service", :action => "apmessage"},:class=>"btn btn-minier btn-primary",:style=>"font-size:12px",:disabled=>"true" %>
              </div>
            </div>
            <div class="widget-body">
              <div class="widget-main padding-4">
                <div class="slimScrollDiv">
                  <div class="comments">
                    <div class="itemdiv commentdiv">
                      <div style="margin:10px">
                        <img alt="Icon service mysql" src="/assets/icon_service_email.png"/>
                      </div>
                      <div class="body">
                        <div class="text profile-user-info">
                          <div class="profile-info-row">
                            <div class="profile-info-name">服务版本</div>
                            <div class="profile-info-value">1.0</div>
                          </div>
                          <div class="profile-info-row">
                            <div class="profile-info-name">服务简介</div>
                            <div class="profile-info-value">邮件服务负责电子邮件收发管理，比网络上的免费邮箱更安全和高效，是企业公司的必备服务。比网络上的免费邮箱更安全和高效。</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
