<div class="navbar navbar-fixed-top">
  <div class="navbar-inner" style="min-height: 80px;">
    <div class="container-fluid">
      <a href="/home/index" class="brand" style="font-size: 28px;padding: 28px 40px;">
        <small style="font-weight: bold;">
          <i class="icon-leaf"></i>
          <%= "PaaS 融合门户" %>
        </small>
      </a><!--/.brand-->
      <div class="nav-collapse collapse navbar navbar-collapse">
        <%  if (session[:useremail]==nil||session[:useremail]=="")  %>
          <ul class="nav">
            <li id="nav_menu_unlog_index"><a href="/home/index" style="font-size:15px;padding: 30px 25px 30px 25px;"><%= "门户首页" %></a></li>
            <!--<li id="nav_menu_unlog_resource"><a href="/home/resource" style="font-size:15px;padding: 30px 25px 30px 25px;"><%= "运行资源" %></a></li>-->
            <li id="nav_menu_unlog_applications"><a href="/home/applications" style="font-size:15px;padding: 30px 25px 30px 25px;"><%= "应用托管" %></a></li>
            <li id="nav_menu_unlog_service"><a href="/home/service" style="font-size:15px;padding: 30px 25px 30px 25px;"><%= "能力开放" %></a></li>
          </ul>
        <% else %>
        <% if session[:useremail]!="admin" %>
        <ul class="nav">
        <!--  <li id="nav_menu_user_resource"><a href="/resource/dashboard" style="font-size:15px;padding: 30px 25px 30px 25px;"><%= "运行资源" %></a></li>    -->
          <li id="nav_menu_user_applications"><a href="/applications/dashboard" style="font-size:15px;padding: 30px 25px 30px 25px;"><%= "应用托管" %></a></li>
          <li id="nav_menu_user_service"><a href="/service/market" style="font-size:15px;padding: 30px 25px 30px 25px;"><%= "能力开放" %></a></li>
        </ul>
        <% else %>
          <ul class="nav">
            <li id="nav_menu_admin_account"><a href="/adaccount/dashboard" style="font-size:15px;padding: 30px 25px 30px 25px;"><%= "厂商管理" %></a></li>
            <!--<li id="nav_menu_admin_resource"><a href="/adresource/dashboard" style="font-size:15px;padding: 30px 25px 30px 25px;"><%= "运行资源" %></a></li>-->
            <li id="nav_menu_admin_applications"><a href="/adapplications/dashboard" style="font-size:15px;padding: 30px 25px 30px 25px;"><%= "应用托管" %></a></li>
            <li id="nav_menu_admin_service"><a href="/adservice/dashboard" style="font-size:15px;padding: 30px 25px 30px 25px;"><%= "能力开放" %></a></li>
            <li id="nav_menu_admin_monit"><a href="/mointor/machinemonit" style="font-size:15px;padding: 30px 25px 30px 25px;"><%= "监控信息" %></a></li>
          </ul>
        <% end %>
        <% end %>
      </div>

      <% if session[:useremail]!=nil %>
        <ul class="nav ace-nav pull-right ">
          <li class="light-blue user-profile" style="max-height: 80px;line-height: 80px;">
            <a data-toggle="dropdown" href="#" class="dropdown-toggle user-menu">

              <img  class="nav-user-photo" alt="Jason's Photo" src="/assets/avatars/avatar5.png">
						<span id="user_info">
							<small>
                <%=session[:useremail]%>
              </small>
						</span>
              <i class="icon-caret-down"></i>

            </a>
            <ul id="user_menu" class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
              <li>
                  <a id="setlink" href="/login/setpwd">
                    <i class="icon-cog"></i>
                    <%= "设置" %>
                  </a>
              </li>
              <li>
                  <a href="/login/profile">
                    <i class="icon-user"></i>
                    <%= "用户信息" %>
                  </a>
              </li>
              
              <li class="divider"></li>
              
              <li>
                <a href="/login/logout">
                  <i class="icon-off"></i>
                  <%= "退出" %>
                </a>
              </li>
            </ul>
          </li>
        </ul>


      <% else %>
        <ul class="nav ace-nav pull-right">
          <li id="top_login_lnk" style="line-height: 41px;padding: 20px;"><%= link_to raw( "登陆" ), {:controller => "login", :action => "log"},:style=> "font-size:15px" %></li>
        </ul>
      <% end %>
    </div>
    <!--/.container-fluid-->
  </div>
  <!--/.navbar-inner-->

</div>


